<h1>Listing invoices</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Issued by company</th>
      <th>Issued to company</th>
      <th>Date of issue</th>
      <th>Currency</th>
      <th>Draft</th>
      <th>Expiration date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.number %></td>
        <td><%= invoice.issued_by_company %></td>
        <td><%= invoice.issued_to_company %></td>
        <td><%= invoice.date_of_issue %></td>
        <td><%= invoice.currency %></td>
        <td><%= invoice.draft %></td>
        <td><%= invoice.expiration_date %></td>
        <td><%= link_to 'Show', invoice %></td>
        <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
        <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice', new_invoice_path %>
