<div class="row logo-row">
  <div class="col-md-2">
    <a class="logo">invoicerio</a>
  </div>
  <div class="col-md-8" id="alert">
  </div>
  <div class="col-md-2 text-right">
    <div class="btn-group">
      <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"><%= current_user.company.name %> <b class="caret"></b></button>
      <ul class="dropdown-menu pull-right">
        <li><%= link_to 'Account settings', edit_user_registration_path, :remote => true %></li>
        <li><%= link_to 'Company settings', edit_user_company_path, :remote => true %></li>
        <li><%= link_to 'Sign out', destroy_user_session_path, :method => 'delete' %></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2 left-panel">
    <h3>
      <ul class="nav-menu-ul">
        <li class="active">
          <a href="#invoices" id="invoices-li" data-toggle="tab">Invoices</a>
        </li>
        <li>
          <a href="#clients" id="clients-li" data-toggle="tab">Clients</a>
        </li>
        <li>
          <a href="#company-details" data-toggle="tab" id="company-details-li" class="hide">Company</a>
        </li>
        <li><a href="#account-settings" data-toggle="tab" id="account-settings-li" class="hide"></a></li>
        <li><a href="#company-settings" data-toggle="tab" id="company-settings-li" class="hide"></a></li>
      </ul>
    </h3>
  </div>
  <div class="col-md-10 tab-content right-panel">
    <div id="invoices" class="tab-pane fade active in">
      <%= render 'invoices/index' %>
    </div>
    <div id="clients" class="tab-pane fade">
      <%= render 'companies/index' %>
    </div>
    <div id="company-details" class="tab-pane fade">
      <div></div>
    </div>
    <div id="invoice-details" class="tab-pane fade">
      <div></div>
    </div>
    <div id="account-settings" class="tab-pane fade">
      <div></div>
    </div>
    <div id="company-settings" class="tab-pane fade">
      <div></div>
    </div>
  </div>
</div>
