<!DOCTYPE html>
<html>
<head>
  <title>Invoicerio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
